<div class= "content">
            <!-- SLIDESHOW CODE -->

    <div id="slideshow-wrap">
        <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <input type="radio" id="button-3" name="controls"/>
        <label for="button-3"></label>
        <input type="radio" id="button-4" name="controls"/>
        <label for="button-4"></label>
        <input type="radio" id="button-5" name="controls"/>
        <label for="button-5"></label>
        <label for="button-1" class="arrows" id="arrow-1">></label>
        <label for="button-2" class="arrows" id="arrow-2">></label>
        <label for="button-3" class="arrows" id="arrow-3">></label>
        <label for="button-4" class="arrows" id="arrow-4">></label>
        <label for="button-5" class="arrows" id="arrow-5">></label>
        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="http://ftmk.utem.edu.my/issc/ftmk.png" />
                    <div class="description">
                        <input type="checkbox" id="show-description-1"/>
                        <label for="show-description-1" class="show-description-label">Klik</label>
                        <div class="description-text">
                            <h2>FTMK - FiCTs</h2>
                            <p>Fakulti ini terletak di Kampus Induk.</p>
                        </div>
                    </div>
                </li>
                <li id="slide2">
                    <img src="http://3.bp.blogspot.com/_hqgAw6Haz-g/TTVSFLPTAkI/AAAAAAAAAP4/PILX9F9nEbk/s1600/Picture-024_500.jpg">
                    <div class="description">
                        <input type="checkbox" id="show-description-2"/>
                        <label for="show-description-2" class="show-description-label">Klik</label>
                        <div class="description-text">
                            <h2>FKE - SAFEE</h2>
                            <p>Fakulti ini terletak di Kampus Induk.</p>
                        </div>
                    </div>
                </li>
                <li id="slide3">
                    <img src="http://1.bp.blogspot.com/_NtV6HpcvFcs/TUBGPmSRR4I/AAAAAAAAABw/DsnIAVIrdIo/s1600/IMG_1611.JPG">
                    <div class="description">
                        <input type="checkbox" id="show-description-3"/>
                        <label for="show-description-3" class="show-description-label">Klik</label>
                        <div class="description-text">
                            <h2>FKEKK - EcCESS</h2>
                            <p>Fakulti ini terletak di Kampus Induk.</p>
                        </div>
                    </div>
                </li>
                <li id="slide4">
                    <img src="http://2.bp.blogspot.com/-ECEarB3-X6Q/TdAERze27PI/AAAAAAAAB4E/cOCsKFd_a38/s1600/Fakulti+Kejuruteraan+Mekanikal%2528FKM%2529.jpg">
                    <div class="description">
                        <input type="checkbox" id="show-description-4"/>
                        <label for="show-description-4" class="show-description-label">Klik</label>
                        <div class="description-text">
                            <h2>FKM - FAMESA</h2>
                            <p>Fakulti ini terletak di Kampus Teknologi.</p>
                        </div>
                    </div>
                </li>
                <li id="slide5">
                    <img src="http://www.utem.edu.my/web2012/image/campus/campus2.jpg">
                    <div class="description">
                        <input type="checkbox" id="show-description-5"/>
                        <label for="show-description-5" class="show-description-label">Klik</label>
                        <div class="description-text">
                            <h2>FPTT - PENYAYANG</h2>
                            <p>Fakulti ini terletak di Kampus Bandar.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>