<!--All the posts go here-->
<div class="body-content">
	<div id="box">
		<div class="box-title">
			<h1>Eco Run</h1>
		</div>
		<div class="box-content">
			<div class="box-poster">
				<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn2/t1.0-9/1385582_589098994484865_1381074532_n.jpg">
			</div>
			<div class="box-description">
				<h3>JOM SERTAI ECORUN UTeM!</h3>
				<p>HADIAH BERUPA WANG TUNAI, MEDAL & SIJIL DISEDIAKAN!</p>
				<p>YURAN PENDAFTARAN : RM20.00 bagi semua kategori.</p>
				<p>"Menerokai Keindahan UTeM"</p>
				<p id="click">Tekan sini! > </p>
				<p id="filter">#srm #ecorun</p>
			</div>
		</div>
	</div>
	<br>
	<div id="box">
		<div class="box-title">
			<h1>3 Bahasa 1 Debat</h1>
		</div>
		<div class="box-content">
			<div class="box-poster">
				<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/q71/s720x720/1463051_610884102306354_1283048381_n.jpg">
			</div>
			<div class="box-description">
				<h3>JOM SAKSIKAN DEBAT 3 BAHASA!</h3>
				<p>Mari beramai-ramai menyaksikan Debat 3 Bahasa,Debat BM,BI dan Bahasa Cina! Khamis ini,di Arked Lestari!</p>
				<p>Masuk percuma!</p>
				<p id="click">Tekan sini! > </p>
				<p id="filter">#orator #debat</p>
			</div>
		</div>
	</div>
</div>
<!--All posts ends here-->
<!--Code for the page number-->
	<div class="pagination">
		<ul>
			<li> 
		    	<a href="#">1</a>
        	</li>
			<li> 
		    	<a href="#">2</a>
        	</li>
			<li> 
		    	<a href="#">3</a>
        	</li>
			<li> 
		    	<a href="#">4</a>
        	</li>
        	<li>
        		<a href="#">5</a>
        	</li>
        	<li>
        		<a href="#">..</a>
        	</li>
        	<li>
        		<a href="#">Last page</a>
     	</ul>
 </div>
 <!--COde for page number ends-->

