<!--The full page of a post start here-->
<br>
<div id="big">
	<div class="header-post">
		<h1>KELAB TAEKWONDO UTeM</h1>
	</div>
	<div class="smallposter">
			<img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn2/v/t34.0-12/10327061_705995016128595_832283363_n.jpg?oh=934fc2ed08febc8611012dbed4bb53a1&oe=5370307C&__gda__=1399886346_d570bbc277ae77eaef69814da825cb4c">
	</div>
	<div class="smalldescrip">
		<p>Jom sertai latihan mingguan Kelab Taekwondo UTeM. </p>
		<p>Dapatkan pengalaman dan kuatkan fizikal anda ;) </p>
	</div>
	</div>
</div>
<!--Ends-->