<div id = "big">
		<div class = "head">
			<h4>Persatuan Seni Silat Cekak Hanafi UTeM</h4>
		</div>
		
		<div class = "middle">
			<div class = "poster">
				<img src = "Silat.png"/>
			</div>

			<div class = "description">
				<h2>COME AND JOIN US!</h2>
				<p class = " infos">Persatuan Seni Silat Cekak Pusaka Ustaz Hanafi UTeM now taking the new member!<br>Benefits? We'll teach you how to defend yourself if attacked, in danger situation, make the best way escape plan from danger, and many more!<br>Our club not just focus on martial art things, but we also have campaign, mountain-hiking, jamboree, and many more exciting activities!
				<br>So, what are you waiting for? Come on!
				<br>Contact Handsome - 0123456789 or Beauty - 0198765432 for registration. :)</p>
				<p class = "quote">BE ACTIVE, BE POSITIVE!</p>
			</div>
		</div>
	</div>